#travelers
{
    background-color: darken($mainColorWhite, 5%);
    .item
    {
        background-color: $mainColorWhite;
        .img
        {
            overflow: hidden;
            position: relative;
            .overlay
            {
                transition: .5s;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $mainColor2;
                opacity: 0;
                transform: rotateY(0deg) scale(.5);
                .fa-plus
                {
                    border: 2px solid $mainColorWhite;
                    border-radius: 100%;
                }
            }
            img
            {
                transition: .5s;
                transform: scale(1)
            }
            &:hover
            {
                .overlay
                {
                    opacity: .5;
                    transform: rotateY(360deg) scale(1);
                }
                img
                {
                    transform: scale(1.2);
                }
            }
        }
        .img-contents
        {
            p
            {
                color: $mainColor;
                font-size: $mainFontSize/1.3;
                text-transform: uppercase;
            }
            .text
            {
                font-size: $mainFontSize;
                text-transform: lowercase;
            }
            span
            {
                color: #7db921;
                font-size: $mainFontSize*1.5;
            }
            button
            {
                font-size: $mainFontSize/1.3 !important;
                padding: 5px 20px !important;
                @include button($mainColorWhite, #d9d9d9, none, $mainColorWhite, #98ce44, none);
            }
        }
    }
}